rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Deny ALL
    match /{document=**} {
      allow read: if false;
      allow write: if false;
    }

    // Collection based:

    // entries
    match /entries/{docId} {
      allow read;
    }

    // places
    match /places/{docId} {
      allow read;
    }

    // texts
    match /texts/{docId} {
      allow read;
    }
  }
}
